.logo{
	height:  60px;
	padding-left: 10px;
}
.header{
	background-color: #cccccc;


}
a{
    color: #737373;
}
.row{

	margin-top: 100px;
	margin-left: 0px;
	margin-right: 0px;
}
.image{
	width: : 200px;
	margin: 15px 15px;

}
.container{
	padding-left: 10px;
	padding-right: 10px;

}
.fa-facebook{
	font-size: 30px;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
    color: #3c5a99;
}
.fa-google-plus{
	float: right;
	font-size: 30px;
	margin-top: 20px;
	padding-right: 20px;
	color: #DB4437;
}
.fa-linkedin{
	float: right;
	font-size: 30px;
	margin-top: 20px;
	padding-right: 20px;
	color:  #0077B5;
}
.fa-youtube{
	float: right;
	font-size: 30px;
	margin-top: 20px;
	padding-right: 20px;
	color:   #FF0000;

}

.social{
	float: right;
}
.text{
	font-family: "BPG Arial Caps", sans-serif;
}
.text2{
	font-family: 'Merriweather', serif;
}
h3{
	font-weight:  200;
}
.image1{
	height: 200px;
}
.ex1 {
 /* width: 900px;*/
  height: 200px;
  overflow: scroll;
  margin-top: 20px;
  font-family: 'ZCOOL XiaoWei', serif;

}
.box1{

	height:  200px;

	

	

	float:right;

}

.box2{

	height:  200px;

	

	

	float: left;

}

.clear{

	clear: both;

}